
@{
    ViewBag.Title = "ModifyTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/css/careplantemplate.css" rel="stylesheet" />
<link href="~/css/previewinpopup.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<style>
  #droppable  span.basecontentspan {
        display: inline;
    }    
</style>
<section id="content" class="responsive-container pt-0">

    <div class="inner-content mt-0">

        <div class="container-fluid pl-0 pr-0">

            <div class="appointment carePlansWrap">
                <div class="detail-heading d-flex">
                    <h2><span class="careplancaption">Careplan template for <span>@ViewBag.ProgramName</span> </span></h2>                    
                    <div class="detail-button ml-auto">
                        <span class="templatename-wrap">
                            <label>Template name:</label>
                            <input type="text" class="form-control templatename-input" value="@ViewBag.TemplateName" />
                        </span>
                        <a href="/careplan/list" class="btn btn-success mr-10 backlist"> <i class="fa fa-arrow-left"></i> Back to list</a>
                        <a href="javascript:{}" onclick="GetNeedAndGoalList()" class="btn btn-success mr-2 backlist"> <i class="far fa-save"></i> Needs & Goals</a>                       
                        <a href="javascript:{}" onclick="return PreviewInPopUp();" class="btn btn-success mr-0 preview-inpopup">
                            <i class="far fa-save"></i>
                            Preview
                        </a>                        
                        <span class="finializewrap">
                            <div class="custom-control custom-checkbox  d-inline-block mr-2">
                                <input type="checkbox" class="custom-control-input" id="checkbox-finalize" name="checkbox-final">
                                <label class="custom-control-label" for="checkbox-finalize">Finalize</label>
                            </div>
                        </span>
                        <a href="javascript:{}" onclick="return saveHtml();" class="btn btn-success mr-0 savehtml">
                            <i class="far fa-save"></i>
                            Save
                        </a>
                    </div>
                </div>

                <div class="row">

                    <div id="frmb-cb-wrap" class="col-md-3">
                        <div class="controlsTabWrap profile-tabs">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#htmlTab" onclick="CheckSortableHtml()">HTML Field</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#databaseTab" onclick="CheckSortableDatabase()">Database Field</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active container" id="htmlTab">
                                    <ul id="control-box">
                                        <li data-type="label"><span><i class="fa fa-tasks" aria-hidden="true"></i>Html</span></li>
                                        <li data-type="checkbox-group"><span><i class="fa fa-check-square" aria-hidden="true"></i>Checkbox</span></li>
                                        <li data-type="date"><span><i class="fa fa-calendar" aria-hidden="true"></i>Date Field</span></li>
                                        <li data-type="file"><span><i class="fa fa-file" aria-hidden="true"></i>File Upload</span></li>
                                        <li data-type="number"><span><i class="fa fa-list-ol" aria-hidden="true"></i>Number</span></li>
                                        <li data-type="radio-group"><span><i class="fa fa-stop-circle" aria-hidden="true"></i>Radio</span></li>
                                        <li data-type="select"><span><i class="fa fa-text-width" aria-hidden="true"></i>Dropdown</span></li>
                                        <li data-type="text"><span><i class="fa fa-text-width" aria-hidden="true"></i>Short Text</span></li>
                                        <li data-type="textarea"><span><i class="fa fa-text-width" aria-hidden="true"></i>Long Text</span></li>
                                    </ul>
                                </div>
                                <div class="tab-pane container" id="databaseTab">
                                    <div class="form-group databseSelectControl">
                                        <label>Select from database</label>
                                        <select id="ddlform" class="form-control" onchange="DatabaseFormFields()">
                                            <option value="0">Select Option</option>
                                            <option value="1">Client profile</option>
                                            <option value="2">Client Housing</option>
                                            <option value="3">Client Financial Security</option>
                                            <option value="4">Client Employment/Education</option>
                                            <option value="5">Client Communication & Mobility</option>
                                            <option value="6">Client Healthcare</option>
                                            <option value="7">Client Social Supports and Safety</option>
                                            <option value="8">Client Legal Status</option>
                                            <option value="9">DAST</option>
                                            <option value="10">AUDIT</option>
                                            <option value="11">Client Health Questionnaire (PHQ-9)</option>
                                            <option value="12">Client Food Access</option>
                                        </select>
                                        <ul id="database-control-box" class="scroll"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 scroll" style="height:570px;overflow-y:auto;">
                        <div class="row">

                            <div id="droppable" class="draggablediv rounded">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div hidden="hidden">
        <input type="text" hidden="hidden" id="hdnTemplateId" value="@Html.Raw(ViewBag.IsModify?ViewBag.TemplateId:0)" />
        <div hidden class="hiddenSavedHtml"></div>
    </div>
</section>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered edithtml-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Field</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body edithtml-body scroll">
                <div class="modal-row">
                    <label>Label Text</label>
                    <textarea control-id="label1" class="form-control lbltext" value="">Html</textarea>
                </div>
                <div class="modal-row">
                    <label class="control-label"> Input Size </label>
                    <div class="form-group">
                        <select class="form-control" id="inputsize">
                            <option value="col-md-4"> Small</option>
                            <option value="col-md-6">Medium</option>
                            <option value="col-md-12" selected="">Large</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="validatepopup(this)" hidden>Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade needModal_wrap" id="NeedModal" tabindex="-1" role="dialog" aria-labelledby="NeedModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80%;height:90%">
        <div class="modal-content" style="height:90%">
            <div class="modal-header">
                <h5 class="modal-title">ADD DEFAULT NEEDS & GOALS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="needModalContent">
                    <div class="tab_heading">
                        <div class="searchBoxWrap">
                            <h5> Needs (<span class="needCount">0</span>)</h5>
                            <div class="searchbox">
                                <input type="text" placeholder="Search..." onkeyup="SearchNeedAndGoal(this)" autocomplete="off">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                            <a class="addNewNeed" href="javascript:{}" onclick="NeedFocus()"><i class="fa fa-plus"></i></a>
                        </div>

                    </div>
                    <div class="needListOuter scroll">
                        <div class="text-center"></div>
                        <ul class="needsList">
                            <li class="hasChild opened">
                                <div class="needItem">
                                    <div>This is the first Need. Please do it asap.</div>

                                    <i class="down_arrow fa fa-chevron-down"></i>
                                    <div class="itemHoverActions">
                                        <a href="#"><i class="fas fa-level-up-alt"></i></a>
                                        <a href="#" class="delete_item"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                                <ul class="goalsList">
                                    <li>
                                        <div class="needItem">
                                            <div>This is the first Goal. Please do it asap.</div>

                                            <div class="itemHoverActions">
                                                <a href="#"><i class="fa fa-clipboard-check"></i></a>
                                                <a href="#" class="delete_item"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="needItem">
                                            <div>This is the first Goal. Please do it asap.</div>

                                            <div class="itemHoverActions">
                                                <a href="#"><i class="fa fa-clipboard-check"></i></a>
                                                <a href="#" class="delete_item"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="addNewNeedGoal">
                                            <div class="plusIcon"><i class="fa fa-plus"></i></div>
                                            <input type="text" name="Add New Need" placeholder="Add New Goal...">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="needItem">
                                    <div>This is the first Need. Please do it asap.</div>
                                    <i class="down_arrow fa fa-chevron-down"></i>
                                    <div class="itemHoverActions">
                                        <a href="#"><i class="fa fa-clipboard-check"></i></a>
                                        <a href="#" class="delete_item"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            </li>

                            <li class="last-child">
                                <div class="addNewNeedGoal">
                                    <div class="plusIcon"><i class="fa fa-plus"></i></div>
                                    <textarea class="txtNeed"  maxlength="1000" placeholder="add need" onkeyup="textAreaAdjust(this)"></textarea>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>



            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog" aria-labelledby="PreviewModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered preview-modal" role="document" style="max-width: 80%;height:90%">
        <div class="modal-content" style="height:90%">
            <div class="modal-header preview-header">
                <h5 class="modal-title" id="PreviewModalTitle">Preview</h5>
                <button type="button" class="close" aria-label="Close" onclick="closePreview()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body preview-body scroll">
                
            </div>
            <div class="modal-footer preview-footer">
               
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
    <script src="~/Scripts/Careplan/htmlcontrol.js"></script>
    <script src="~/Scripts/Careplan/databasecontrol.js"></script>
    <script src="~/Scripts/Careplan/NeedAndGoal.js"></script>
    <script>
        var templateId =@ViewBag.TemplateId;
        var isModify = '@ViewBag.IsModify';
        var programName = '@ViewBag.ProgramName';
        var programId = '@ViewBag.ProgramId';
        var userId = '@Session["userid"]';
        var templateName = '@ViewBag.TemplateName';
        var isBaseTemplate='@ViewBag.IsBaseTemplate';

    </script>
}

