@model List<RootsOfHealth.Models.ClientFormForPatientBO>
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
        .showHide {
            display: none;
        }

        .inner-main-content {
            height: calc(100vh - 240px);
        }

        .paitent-detail-left {
            height: calc(100vh - 160px);
            overflow: hidden;
        }

        #content .profile-tabs .paitent-detail-left .nav-tabs {
            border-bottom: 0px;
        }

            .paitent-detail-left .profile-tabs .nav-tabs:hover, #content .profile-tabs .paitent-detail-left .nav-tabs:hover {
                overflow-x: hidden !important;
            }

        /* New css
    -------------------------------------------------*/

        #content .profile-tabs .tabs-scroll {
            position: fixed;
            top: 60px;
            right: 0;
            width: 310px;
            z-index: 99;
            flex-direction: column;
            display: block;
            height: calc(100vh - 60px);
            left: auto;
            margin: 0;
            background: #34425a;
            overflow: auto;
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transition: all ease 0.4s;
        }

        .tabs-scroll > ul#myTab > li > a .notCountR, a .notCountO, a .notCountG, a .notCountR {
            top: 7px;
            right: 35px;
        }

        #content {
            padding-top: 0px !important;
        }

            #content .inner-content {
                margin-top: 0px !important;
            }

            #content.showHidecontent .profile-tabs .tabs-scroll {
                transform: translateX(0%);
                -webkit-transform: translateX(0%);
            }

            #content .profile-tabs .tabs-scroll > .nav-tabs {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0;
                position: static;
                height: auto;
                padding: 0;
                background: transparent;
                border: 0px;
            }

            #content .profile-tabs .tabs-scroll > ul#myTab > li {
                margin: 0;
                border-bottom: 1px solid rgba(255,255,255,0.1);
            }

                #content .profile-tabs .tabs-scroll > ul#myTab > li > a {
                    margin: 0;
                }

                    #content .profile-tabs .tabs-scroll > ul#myTab > li > a:after {
                        content: none;
                    }

        .tabs-scroll > ul#myTab > li > a .check {
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: 9;
        }

        .inner-main-content {
            height: calc(100vh - 180px);
        }

        .paitent-detail-left {
            height: calc(100vh - 100px);
        }

        #menu-toggle {
            right: 0;
            top: 20px;
            transition: all ease 0.4s;
        }

        div#menu-toggle.open {
            right: 310px;
        }
    .btnDisplayProgram, .btnprogramsave {
        display: none !important
    }
    .btnProgramEdit {
        display: block !important
    }
   
</style>
<!-- Content start here -->
<section id="content" class="responsive-container">
    <div class="profile-tabs">
        <div class="tabs-scroll">
            <ul class="nav nav-tabs showHide" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="Profile-tab" data-toggle="tab" data-FormName="Profile" href="#Profile" role="tab"
                       aria-controls="Profile" aria-selected="true">Profile</a>
                </li>
                @if (Model != null)
                {
                    foreach (var item in Model.Where(p=>p.ParentFormID==null||p.ParentFormID==0))
                    {
                        string FormName = @item.FormName.Replace(" ", "");
                     
                        <li class="nav-item">
                            <a id="@("a" + FormName)" class="nav-link" data-toggle="tab"
                               href="@("#" + FormName + "only")" data-ClientFormID="@item.ClientFormID" data-PatientID="@item.patientID" onclick="loadClient(this)"  data-TemplateID="@item.TemplateID" data-FormName=@(FormName)>@item.FormName<span class="check @Html.Raw(item.Saved ? "" : "d-none")"><i class="fas fa-check-circle"></i></span></a>

                        </li>
                       
                    }
                }
                
                <li class="nav-item" id="programtbs" style="display:none;/*left: 155px;*/">
                    <a class="nav-link" id="Programs-tab" data-toggle="tab" href="#Programs" role="tab"
                       aria-controls="Programs" aria-selected="false">Programs <span class="check" data-FormName="Profile"  style="display:none"><i class="fas fa-check-circle"></i></span></a>
                </li>

                <li class="nav-item " style="display:block">
                    <a class="nav-link" id="RecentClient-tab" href="#"  data-toggle="modal" data-target="#recentpatientModal">Recent Clients</a>
                </li>

            </ul>
        </div>
        @*<div class="scroll-hide">show / hide patient menu </div>*@
        <div id="menu-toggle" class="">
            <div id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="cross" title="Hide patient Menu">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">

            <div class="inner-content">

                <div class="paitent-detail">

                    @*<div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12 pr-0">

                        </div>


                        <div class="col-lg-4 col-md-12 col-sm-12 col-12">

                        </div>


                        </div>*@
                </div>

            </div>





        </div>

        <!--Recent Patient Modal start here-->
        <div class="modal fade" id="recentpatientModal" tabindex="-1" role="dialog" aria-labelledby="recentpatientModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:80%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="recentpatientModalLabel">Recent Client</h5>
                        <button type="button" data-dismiss="modal" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="inner-content mt-0" id="recent-p">
                            <div class="row" style="margin-top: -50px;">
                                <div class="col-lg-12 col-md-8 col-sm-12 col-12 pr-0">
                                    <div class="recent-paitents">



                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--Recent Patient End Here-->
    </div>

</section>
<!-- Content end here -->
@*<script src="js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>*@

@section scripts {



    <script>
       var ViewBagClientFormId = '@ViewBag.ClientFormID'
        var _PatientId = '@ViewBag.PatientID'
         var currenttab = '@ViewBag.CurrentTab';
         var currentSubtab = '@ViewBag.CurrentSubtab'
        // Hamburger menu js
    $('#myTab a').each(function () {
        $(this).click(function () {
            $('#menu-toggle').click();
        })

    });

        $('#menu-toggle').click(function () {
            $(this).toggleClass('open');
            if ($("#menu-toggle").hasClass("open")) {
                $("#cross").attr("title", "Hide Client Menu")
            } else {
                $("#cross").attr("title", "Show Client Menu")
            }
            $("#myTab").toggleClass('showHide');
            $(".inner-content").toggleClass("showHideInner");
            $(".paitent-detail-left").toggleClass("showHidepaitent-detail-left");
            $(".inner-main-content").toggleClass("showHidepaitentinner-main-content");
            $(".body").toggleClass("showHidebody");
            $("#content").toggleClass("showHidecontent");

            //$(".appointement").toggleClass("showHideappotment");

        })

        $('#btnaddprogram').click(function (e) {

            GetPatientPrograms()
            var value = $('#btnaddprogram').attr('data-totalProgramCount')
            if (value <= 0) {
                e.preventDefault();
                e.stopPropagation();
                toastr.error('No program available')
            }

        })

        $(document).ready(function () {

            $(".loaderOverlay").css("display","flex");
            var Apipath = '@System.Configuration.ConfigurationManager.AppSettings["WebApi"]'

            $(".nav-menu").removeClass("active");
            $("#DashBoard").addClass("active");
            $("#btnProfileCancel").hide();
            $("#btnProfileSave").hide();
            $(".input-fields").hide();

            $("#btnProfileEdit").click(function () {
                $("#btnProfileEdit").hide();
                $("#btnProfileCancel").show();
                $("#btnProfileSave").show();
                $(".input-fields").show();
                $(".label-fields").hide();

                //onchange divs hides.
                $("#divOtherGender").hide();
                $("#divIfNoAddress").hide();
                $("#divMaritalStatus").hide();
                $("#divOtherLanguage").hide();
                $("#divOtherPronouns").hide();
                $("#divOtherYouThink").hide();
                $("#divhaveYouQuit").hide();
                $("#divQuitDate").hide();
                $("#divOtherContact").hide();

            })





            $("#btnProfileSave").click(function () {
                onSaveAndCancel();
            });

            $("#btnProfileCancel").click(function () {
                onSaveAndCancel();
            })

            function onSaveAndCancel() {
                $("#btnProfileEdit").show();
                $("#btnProfileCancel").hide();
                $("#btnProfileSave").hide();
                $(".input-fields").hide();
                $(".label-fields").show();

                // onchange divs show.
                $("#divOtherGender").show();
                $("#divIfNoAddress").show();
                $("#divMaritalStatus").show();
                $("#divOtherLanguage").show();
                $("#divOtherPronouns").show();
                $("#divOtherYouThink").show();
                $("#divhaveYouQuit").show();
                $("#divQuitDate").show();
                $("#divOtherContact").show();
            }


            // change function of gender
            $("#ddlGendar").change(function () {
                if ($("#ddlGendar").val() == "other") {
                    $("#divOtherGender").show();
                }
                else {
                    $("#divOtherGender").hide();
                }
            })


            $("#ddlContact").change(function () {
                if ($("#ddlContact").val() == "Other") {
                    $("#divOtherContact").show();
                }
                else {
                    $("#divOtherContact").hide();
                }
            })



            $("#ddlSmoker").change(function () {
                if ($("#ddlSmoker").val() == "Yes") {
                    $("#divhaveYouQuit").show();
                }
                else {
                    $("#divhaveYouQuit").hide();
                    $("#divQuitDate").hide();
                }
            })

            $("#ddlHaveYouQuit").change(function () {
                if ($("#ddlHaveYouQuit").val() == "Yes") {
                    $("#divQuitDate").show();
                }
                else {
                    $("#divQuitDate").hide();
               }
            })



            $("#ddlDoYouThink").change(function () {
                if ($("#ddlDoYouThink").val() == "Unspecified/Other") {
                    $("#divOtherYouThink").show();
                }
                else {
                    $("#divOtherYouThink").hide();
                }
            })

            $("#ddlMaritalStatus").change(function () {

                if ($("#ddlMaritalStatus").val() == "other") {
                    $("#divMaritalStatus").show();
                }
                else {
                    $("#divMaritalStatus").hide();
                }
            })

            $("#ddlPreferredPronouns").change(function () {
                if ($("#ddlPreferredPronouns").val() == "Other") {
                    $("#divOtherPronouns").show();
                }
                else {
                    $("#divOtherPronouns").hide();
                }
            })

            $("#ddlLanguage").change(function () {
                if ($("#ddlLanguage").val() == "Other") {
                    $("#divOtherLanguage").show();
                }
                else {
                    $("#divOtherLanguage").hide();
                }
            })

            //$("#ddlRaceEthnicity").click(function () {
            //    //var test = $(this).children();
            //    //console.log(test);
            //})


            // change function of gender
            $("#ddlLiveAddress").change(function () {
                if ($("#ddlLiveAddress").val() == "No") {
                    $("#divIfNoAddress").show();
                }
                else {
                    $("#divIfNoAddress").hide();
                }
            })

            $('.nav-menu').click(function () {
                if ($(".sidebar-menu").hasClass("sidebar-res")) {
                    $('.sidebar-menu').removeClass('sidebar-res');
                    $('#content').removeClass('responsive-container');

                } else {

                    $('.sidebar-menu').addClass('sidebar-res');
                    $('#content').addClass('responsive-container');
                }
            })
            $('.selectboxmultiple').selectpicker();


        $.ajax({

            type: "Get",
            url: '/Client/GetRecentClientForm?clinicid='+'@Session["ClinicID"]',
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    $('.recent-paitents').html(result);
                },
                error: function () {
                    toastr.error("Some error occurred!! or data not found");
                },
                complete: function () {

                    bindTopPatient('@ViewBag.PatientID');
                }
            });



        });

        var toppatient = "";

        function bindTopPatient(id) {


            if (id == "" || id == undefined || id=='0') {
                toppatient = $('#topPatientId').val();
            }
            else {
                toppatient = id;
            }
            $('.nav-item a').removeClass("active");
            $("#Profile-tab").addClass("active");
            $('div[id^=div_]').css('display', 'block');
            $('#div_' + toppatient).css('display', 'none');

            $.ajax({

                type: "Post",
                url: '/Client/GetClientFormDetail',
                data: JSON.stringify({ PatientID: toppatient }),

                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    var a = result;
                    $('#myTabContent').html(result);
                    $('#btnaddprogram').css('display', 'block');

                },
                error: function () {
                    toastr.error("Some error occurred!! or data not found");
                },
                complete: function () {

                    var a = 0;
                    GetPatientPrograms(toppatient);


                }
            });
        }

        function GetPatientPrograms(toppatient) {

            var id = "";

            if (toppatient == "" || toppatient == undefined) {
                id = $('#topPatientId').val();
            }
            else {
                id = toppatient;
            }

            $.ajax({

                type: "Post",
                url: '/Client/GetClientFormPrograms',
                data: JSON.stringify({ PatientID: id }),

                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                   var programCount ='@ViewBag.programCount';
                    //console.log(programCount);
                   $('#programList').html(result);

                },
                error: function () {
                    toastr.error("Some error occurred!! or data not found");
                },
                complete: function () {

                    $(".scroll").animate({ scrollTop: 0 }, "slow");
                    $(".loaderOverlay").hide();
                    recentpcloseModel();

                }
            });
        }

        function recentpcloseModel()
        {
            $('.close').click();


    }

        function ActivateTab(PatientId, Tab,Subtab,ClientFormID) {
        window.location.href = '/Client/Add?PatientID=' + PatientId + '&CurrentTab=' + Tab + '&SubTab=' + Subtab +'&ClientFormID='+ClientFormID;

        }
        $("#Profile-tab").click(function () {
            $("#myChildTab").css("display", "none");
        })
        $("#programtbs").click(function () {
            $("#myChildTab").css("display", "none");
        })

    </script>


}

