@model Tuple<RootsOfHealth.Models.AmdProfileBO, RootsOfHealth.Models.PatientMainBO>
<style>

    .amdProfileData table {
        font-size: 14px;
    }

        .amdProfileData table th {
            font-weight: 500;
            width: 35%;
        }

        .amdProfileData table td {
            width: 65%;
        }

    .amdProfileData .table-striped tbody tr:nth-of-type(odd) {
        background: rgba(0,0,0,.02);
    }

    .amdProfileData .table-hover tbody tr:hover {
        background: rgba(0,0,0,.05);
    }

    .amdProfileData h6 {
        padding: 12px 12px 12px;
        margin: 0;
        background: #eee;
    }

        .amdProfileData h6 span {
            color: #22baa0;
        }

    .amdProfileData .table-striped tbody tr.Highlight {
        background: rgb(234 2 2 / 5%);
        color: #ea0202;
    }

    .amdProfileData .table-responsive {
        max-height: calc(100vh - 200px);
        overflow: auto;
        border: 0px;
    }
    .lbl-hideamd {
        margin-bottom: 0px !important
    }
</style>


<div class="amdProfileData">
    <h6>Chart Number : <span>@(Model.Item1.ChartNumber == null ? "" : Model.Item1.ChartNumber)</span></h6>
    <div class="table-responsive scroll">
        <table class="table table-striped table-hover">
            <thead>

            </thead>
            <tbody>
                <tr class=@((Model.Item1.FirstName==null?"":Model.Item1.FirstName.Trim())!=(Model.Item2.FirstName==null?"":Model.Item2.FirstName.Trim()) ?"Highlight":"")>
                    <th scope="col">First Name</th>
                    <td scope="col">@(Model.Item1.FirstName == null ? "" : Model.Item1.FirstName)</td>
                </tr>
                <tr class=@((Model.Item1.LastName==null?"":Model.Item1.LastName.Trim())!=(Model.Item2.LastName==null?"":Model.Item2.LastName.Trim()) ?"Highlight":"")>
                    <th>Last Name</th>
                    <td>@(Model.Item1.LastName == null ? "" : Model.Item1.LastName)</td>


                </tr>
                <tr class=@((Model.Item1.Gender==null?"":Model.Item1.Gender.Trim())!=(Model.Item2.Gender==null?"":Model.Item2.Gender.Trim()) ?"Highlight":"")>
                    <th scope="row">Gender</th>
                    <td>@(Model.Item1.Gender == null ? "" : Model.Item1.Gender)</td>

                </tr>
                <tr>
                    <th scope="row">Home Phone</th>
                    <td>@(Model.Item1.HomePhone == null ? "" : "(" + Model.Item1.HomePhone.Substring(0, 3) + ")" + Model.Item1.HomePhone.Substring(3, 3) + "-" + Model.Item1.HomePhone.Substring(4, 4))</td>

                </tr>
                <tr class=@((Model.Item1.CellPhone==null?"":Model.Item1.CellPhone.Trim())!=(Model.Item2.CellPhone==null?"":Model.Item2.CellPhone.Trim()) ?"Highlight":"")>
                    <th scope="row">Cell Phone</th>
                    <td>@(Model.Item1.CellPhone == null ? "" : "("+Model.Item1.CellPhone.Substring(0,3)+")"+Model.Item1.CellPhone.Substring(3,3)+"-"+Model.Item1.CellPhone.Substring(4,4))</td>

                </tr>
                @*<tr>
                        <th scope="row">Work Phone</th>
                        <td>Mark</td>


                    </tr>*@
                <tr class=@((Model.Item1.Email==null?"":Model.Item1.Email.Trim())!=(Model.Item2.EmailAddress==null?"":Model.Item2.EmailAddress.Trim()) ?"Highlight":"")>
                    <th scope="row">Email</th>
                    <td>@(Model.Item1.Email == null ? "" : Model.Item1.Email)</td>

                </tr>

                <tr>
                    <th scope="row">Social Security</th>
                    <td>
                        <div class="ssn-icon">
                            <div class="ssn-label">
                                <div class="ssn-label-inner set-eye-pos">
                                    <label class="label-fields lbl-hideamd" style="display:none">@(Model.Item1.SSN == null ? "" : Model.Item1.SSN.Substring(0,3)+"-"+Model.Item1.SSN.Substring(3,2)+"-"+Model.Item1.SSN.Substring(5,4))</label>
                                    <div class="stardivAmd">*********</div>
                                    <div class="ssn-icon-label amdEyeIcon">
                                        <i class="fa fa-eye open-eye" style="display:none" onclick="hideAMDssn()"></i>
                                        <i class="fa fa-eye-slash close-eye" onclick="showAMDssn()"></i>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </td>


                </tr>
                <tr class=@((Model.Item1.DOB==null?"":Model.Item1.DOB.Trim())!=(Model.Item2.DateOfBirth==null?"":Model.Item2.DateOfBirth.Trim()) ?"Highlight":"")>
                    <th scope="row">DOB</th>
                    <td>@(Model.Item1.DOB == null ? "" : Model.Item1.DOB)</td>

                </tr>
                <tr class=@((Model.Item1.Address==null?"":Model.Item1.Address.Trim())!=(Model.Item2.Address==null?"":Model.Item2.Address.Trim()) ?"Highlight":"")>
                    <th scope="row">Address Line 1</th>
                    <td>@(Model.Item1.Address == null ? "" : Model.Item1.Address)</td>

                </tr>
                @*<tr>
                        <th scope="row">Address Lane 2</th>
                        <td>Mark</td>


                    </tr>*@
                <tr class=@((Model.Item1.City==null?"":Model.Item1.City.Trim())!=(Model.Item2.City==null?"":Model.Item2.City.Trim()) ?"Highlight":"")>
                    <th scope="row">City</th>
                    <td>@(Model.Item1.City == null ? "" : Model.Item1.City)</td>

                </tr>
                <tr class=@((Model.Item1.State==null?"":Model.Item1.State.Trim())!=(Model.Item2.State==null?"":Model.Item2.State.Trim()) ?"Highlight":"")>
                    <th scope="row">State</th>
                    <td>@(Model.Item1.State == null ? "" : Model.Item1.State)</td>

                </tr>
                <tr class=@((Model.Item1.ZipCode==null?"":Model.Item1.ZipCode.Trim())!=(Model.Item2.Zip==null?"":Model.Item2.Zip.Trim()) ?"Highlight":"")>
                    <th scope="row">Zip</th>
                    <td>@(Model.Item1.ZipCode == null ? "" : Model.Item1.ZipCode)</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>




<script>
    function showAMDssn() {
        $(".stardivAmd").hide();
        $(".lbl-hideamd").show();
        $(".amdEyeIcon .open-eye").show();
        $(".amdEyeIcon .close-eye").hide();
    }
    function hideAMDssn() {
        $(".stardivAmd").show();
        $(".lbl-hideamd").hide();
        $(".amdEyeIcon .open-eye").hide();
        $(".amdEyeIcon .close-eye").show();
    }


</script>


