@model List<RootsOfHealth.Models.ProgramsForPatientBO>


<div class="tab-pane fade @Html.Raw(ViewBag.CurrentTab=="ProgramTab"?"show active":"")" id="Programs" role="tabpanel" aria-labelledby="Programs-tab">
    <div class="inner-content">
        <div class="paitent-detail" id="tabPills">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="paitent-detail-left">
                        <ul class="nav nav-tabs">

                            @foreach (var item in Model)
                            { var programName = @item.ProgramName.Replace(" ", "");
                                <li class="nav-item" >
                                 <a id="@("a"+programName)" class="nav-link" data-toggle="tab"
                                    href="@("#" + programName + "only")" data-ProgramID="@item.ProgramID" data-PatientID="@item.patientID" data-TemplateID="@item.TemplateID" data-programName=@(programName)>@item.ProgramName<span class="check @Html.Raw(item.Saved?"":"d-none")"><i class="fas fa-check-circle"></i></span></a>
                              </li>

                            }
                           

                        </ul>

                        <!-- Tab panes -->


                        <div class="tab-content" style="margin-top:20px">

                            @foreach (var item in Model)
                            { var ProgramN = item.ProgramName.Replace(" ","");
                                <div class="tab-pane fade" id="@(ProgramN+"only")">
                                    <div>
                                        <div class="detail-heading d-flex">
                                            <h2 style="padding-top:10px">@item.ProgramName</h2>
                                            <div class="detail-button ml-auto">
                                                <a href="javascript:{}" onclick="DisplayForm(@item.patientID,'ProgramTab','@ProgramN')"
                                                   class="btn btn-success label-fields btnDisplayProgram">
                                                    <i class="far fa-edit"></i>
                                                    Display
                                                </a>
                                                <a href="javascript:{}" onclick="return saveProgramBasicInfo('@item.TemplateID','@item.TemplateTable',@item.ProgramID,@item.patientID);" data-save="@(item.Saved?"True":"False")" class="btn btn-success ml-auto btnprogramsave">
                                                    <i class="far fa-save"></i>
                                                    Save
                                                </a>
                                                <a href="javascript:{}" onclick="ActivateTab(@item.patientID,'ProgramTab','@ProgramN')"
                                                   class="btn btn-success label-fields btnProgramEdit">
                                                    <i class="far fa-edit"></i>
                                                    Edit
                                                </a>
                                                <a href="javascript:{}" onclick="PrintProgram('@ProgramN')"
                                                   class="btn btn-success label-fields btnprogramPrint">
                                                    <i class="far fa-save"></i>
                                                    Print
                                                </a>
                                            </div>
                                        </div>

                                    <div class="SidebarScroll scroll inner-main-content">
                                        <style>
                                            ul.file_uploaded_list li img {
                                                max-width: 90px;
                                                margin-right: 10px;
                                            }
                                        </style>
                                        <div id="@(ProgramN+"render-basicform")" class="render-basicProgramform" style="padding-bottom:100px"></div>
                                    </div>
                                        </div>
                                    </div>
                            }


                            <!---programs start-->
                        </div>
                    </div>
                </div>

                          </div>
        </div>

    </div>
</div>





