@model RootsOfHealth.Models.LookUpFieldOptionBO

@{
    ViewBag.Title = "EditLookUpOption";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="content" class="responsive-container pt-0">
    <div class="inner-content">
        <div class="container-fluid pl-0 pr-0">

            <div class="appointment">
                <h2>EditLookUpOption</h2>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>LookUpFieldOptionBO</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.LookUpFieldID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LookUpFieldID, new { htmlAttributes = new {@Id= "ddLookUpFieldID", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LookUpFieldID, "", new { @Id = "ddLookUpFieldID", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OptionName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OptionName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OptionName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OptionValue, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OptionValue, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OptionValue, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "ShowLookUpOption")
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#Housing').addClass('active show');
        });



         var Apipath = '@System.Configuration.ConfigurationManager.AppSettings["WebApi"]';
         $.ajax({
                type: "GET",
             url: Apipath + '/api/PatientMain/GetLookUpOption',
                contentType: 'application/json; charset=UTF-8',
                dataType: "json",
             success: function (result) {
                 
                 debugger;
                    $("#ddLookUpFieldID")
                        .replaceWith('<select id="ddLookUpFieldID" name="LookUpFieldID" class="form-control list-box tri-state">' +
                        '<option value="1">1</option>' +
                        '<option value="2">2</option>' +
                        '</select>');
                    var s = '';
                    for (var i = 0; i < result.length; i++) {
                        s += '<option value="' + result[i].LookUpFieldID + '">' + result[i].FieldName + '</option>';
                    }
                 $("#ddLookUpFieldID").html('');
                 $("#ddLookUpFieldID").html(s);
                 $('#ddLookUpFieldID option[value="@Model.LookUpFieldID"]').attr("selected", "selected");
                },
                error: function () {

                    toastr.error("Error while inserting data");
                }
            });



    </script>
}