@model IEnumerable<RootsOfHealth.Models.PotientialPatientBO>
@using RootsOfHealth.Commom;
@using RootsOfHealth.Models;
@{
    ViewBag.Title = "GetPotientialPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var potentialClientPerm = new Common().GetPermissionsByModuleId(Convert.ToInt32(Session["userid"]), Convert.ToInt32(PermissionModel.Module.PotentialClient));
    if (potentialClientPerm.Where(x => x.CanList == false && (x.CanCreate != true && x.CanUpdate != true && x.CanDelete != true && x.CanMove != true)).Any())
    {
        Response.Redirect(Url.Action("Display", "Dashboard", new { }));

    }
}
<style>

    .appointment {
        padding: 20px;
        height: calc(100vh - 100px);
    }

    #content {
        padding: 0;
    }

    #PotentialClientFileUpload .modal-dialog {
        max-width: 750px;
    }

    .sortableListBox {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .sortableListBox li,
        .DatabaseFields {
            padding: 8px 15px;
            border: 1px solid #ddd;
            margin: 0 0 10px;
            text-align: center;
        }

    .dllFileFields {
        padding: 8px 15px;
        border: 1px solid #ddd;
        margin: 0 0 10px;
        border-radius: 0;
        min-height: 42px;
    }

   /* #PotentialClientFileUpload div#dbandFileFields {
        max-height: calc(100vh - 170px);
    }*/

    #duplicateFields h5 {
        text-align: center;
        margin: 10px 0 15px;
    }

    .p_content_block .form-group {
        margin: 0 0 6px;
    }

    .p_content_block {
        margin: 0;
    }

    #duplicateFields hr {
        margin: 20px 0;
        border-color: #ddd;
    }

    div#duplicateFields {
        max-height: calc(100vh - 140px);
        overflow: auto;
    }

    #duplicateRecordDetails .modal-content {
        overflow: hidden;
    }


    @@media only screen and (max-width: 480px) {
        #PotentialClientFileUpload .modal-header .close {
            position: absolute;
            right: 15px;
            top: 19px;
        }

        #PotentialClientFileUpload .modal-header .ml-auto {
            width: 100%;
        }
    }

    #dbandFileFields .appointment table .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        border-radius: 50px;
        border: 1px solid #dc3545;
        font-weight: 500;
        padding: 8px 20px;
        margin-right: 5px;
    }

   

    #ddlExcelType {
        width: auto;
        margin: 0 10px;
    }

    .FileFields input {
        width: 100px;
        display: inline;
    }
    input.txtSocialSecNo {
        border: 0;
        padding: 0 8px;
    }
    .showHideSSN .fa-eye-slash, 
    .showHideSSN.active .fa-eye {
        display: none;
    }
    .showHideSSN.active .fa-eye-slash {
        display: inline-block;
    }
    span.showHideSSN {
        color: #555;
    }

    /*#tblPotientialPatient_wrapper.dataTables_wrapper .dataTables_scroll {
        clear: both;
        overflow: auto;
        height: 300px;
    }
    body #tblPotientialPatient_wrapper.dataTables_wrapper .dataTables_scrollHead {
        background: #dadada !important;
        position: sticky !important;
        top: 0;
        z-index: 99;
    }*/
    .dataTables_wrapper.no-footer div.dataTables_scrollHead > table, 
    .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
        width: 100% !important;
    }
    .appointment > .d-flex {
        flex-wrap: wrap;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 2px 10px 2px;
        display: inline-block;
        border: 0;
        font-size: 15px;
        margin: 2px 1px;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background: #22baa0;
        border: 0;
        color: #FFF !important;
    }
    .appointment {
        overflow: auto;
    }
    @@media (max-width:767px) {
        .appointment > .d-flex .ml-auto {
            margin-left: 0 !important;
            margin: 3px 0 0;
        }
        #ddlExcelType {
            width: auto;
            margin: 2px 5px;
        }
    }

    .col-md-6.colTitle {
        text-align: center;
        margin-bottom: 15px;
        font-size: 1.25rem;
        font-weight: 500;
    }
    div#summary {
        padding: 10px 0px 0px 20px;
    }
    label.label-fields {
        font-size: 14px;
        color: #343434;
        font-weight: 500;
    }
    #PotentialClientFileUpload .div_newcolumns {
        padding: 1rem 1rem 5px;
        border-bottom: 1px solid #e9ecef;
    }
    div#PotentialClientFileUpload {
        padding-left: 0 !important;
    }
    div#PotentialClientFileUpload .popup_scroll {
        max-height: calc(100vh - 140px);
        overflow: auto;
    }
    div#PotentialClientFileUpload .modal-content {
        overflow: hidden;
    }
    button#btnpatientDelete {
        border-radius: 50px;
    }
    table#tblInvalidClients {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    #inValidClientsDetails .modal-dialog {
        max-width: 750px;
    }
    table#tblInvalidClients {
        overflow: scroll;
        height: calc(100vh - 303px);
    }
</style>
<section id="content" class="responsive-container">
    <div class="inner-content mt-0">
        <div class="container-fluid pl-0 pr-0">
            <div class="appointment">
                <div class="d-flex mb-2">
                    @if (potentialClientPerm.Where(x => x.CanCreate == true).Any())
                    {
                        <input type="file"
                               id="PoteintialClientFileInput" name="avatar"
                               accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    }
                    <select id="ddlExcelType" class="form-control">
                        <option value="organised">Organized</option>
                        <option value="unorganised">Unorganized</option>
                    </select>
                    @using (Html.BeginForm("GenerateSampleExcelFile", "Client", FormMethod.Post))
                    {

                        <input type="submit" value=" Download Sample Excel File" class="btn btn-success" />

                    }
                    @if (potentialClientPerm.Where(x => x.CanCreate == true).Any())
                    {
                        <a class="btn btn-success ml-auto" href="/Patient/AddPotentialPatient">Add New</a>
                    }
                </div>
                <table id="tblPotientialPatient" class="display table table-hover table-striped table-bordered">

                    <thead>
                        <tr class="table-active">
                            <th>ClientId</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Last Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
            </div>

        </div>
    </div>

    <div class="modal fade" id="PotentialClientFileUpload" tabindex="-1" role="dialog" aria-labelledby="PotentialClientFiletitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered preview-modal" role="document">
            <div class="modal-content" style="height:90%">
                <div class="modal-header preview-header flex-wrap">
                    <h5 class="modal-title" id="PotentialClientFiletitle">File Upload</h5>
                    <div class="ml-auto d-flex flex-wrap">
                        <button href='' id="btnsavepotentialclients" class="btn btn-success">
                            Save
                        </button>


                        <button type="button" class="close" aria-label="Close" onclick="ClosePotentialClientModal(true)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>
                <div class="popup_scroll scroll">
                    <div class="div_newcolumns">
                        <div class="form-group">
                            <label class="label-fields">Data Came From</label>
                            <input tabindex="38" type="text" id="txtdataCameFrom" name="dataCameFrom" maxlength="500"
                                   class="form-control"
                                   placeholder="" value="">
                        </div>
                        <div class="form-group">
                            <label class="label-fields">Import Notes</label>
                            <textarea type="text" id="txtImportNotes" name="ImportNotes"
                                      class="form-control"
                                      placeholder="" value=""></textarea>
                        </div>
                        <div class="form-group">
                            <label class="label-fields">Import Date</label>
                            <input tabindex="40" type="text" id="ImportDate" name="ImportDate" maxlength="50"
                                   class="form-control date"
                                   placeholder="" value="">
                        </div>
                    </div>
                    <div id="summary">
                        <div>
                            <label class="label-fields" id="totalRecords">Total Records : <span></span></label>
                        </div>
                        <div>
                            <label class="label-fields" id="colsMatched">Columns matched : <span id="spancolsMatched"></span>/<span id="spanTotalCols"></span></label>
                        </div>

                    </div>
                    <div id="dbandFileFields" class="modal-body preview-body scroll">


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="duplicateRecordDetails" tabindex="-1" role="dialog" aria-labelledby="duplicateRecordDetailsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered preview-modal" role="document">
            <div class="modal-content" style="height:90%">
                <div class="modal-header preview-header flex-wrap">
                    <h5 class="modal-title" id="duplicateRecordDetailsTitle">Duplicate Records</h5>
                    <div class="ml-auto d-flex flex-wrap">

                        <button type="button" class="close" aria-label="Close" onclick="CloseDuplicatePopup()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>

                <div id="duplicateFields" class="modal-body preview-body scroll">
                    <div id="fromMainTable" class="">
                        <h5 class="" id="duplicateRecordDetailsTitle">Main Clients</h5>
                        <div id="mainPatients" class="">

                        </div>
                    </div>
                    <div id="fromPotentialTable" class="">
                        <h5 class="" id="duplicateRecordDetailsTitle">Potential Clients</h5>
                        <div id="potentialPatients" class="">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="inValidClientsDetails" tabindex="-1" role="dialog" aria-labelledby="inValidClientsDetailsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered preview-modal" role="document">
            <div class="modal-content" style="height:90%">
                <div class="modal-header preview-header flex-wrap">
                    <h5 class="modal-title" id="inValidClientsDetailsTitle">Fields marked with red background were not saved</h5>
                    <div class="ml-auto d-flex flex-wrap">

                        <button type="button" class="close" aria-label="Close" onclick="CloseDuplicateRecordsPopup()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>

                <table id="tblInvalidClients" class="display table table-hover table-striped table-bordered">

                    <thead id="tblInvalidClientsHeader">
                        <tr class="table-active"></tr>
                            @*<tr class="table-active">
                

            </tr>*@
                    </thead>
                    <tbody id="tblInvalidClientsBody">
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"
        integrity="sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo="
        crossorigin="anonymous"></script>
<script src="~/Scripts/PotentialClients/PotentialClients.js"></script>
@section scripts{
    <script>
        var ClinicID = parseInt(@Session["ClinicID"]);
        var Apipath = '@System.Configuration.ConfigurationManager.AppSettings["WebApi"]';
        var canEditPClientPerm = '@potentialClientPerm.Where(x => x.CanUpdate == true).Any()';
        var canDeletePClientPerm = '@potentialClientPerm.Where(x => x.CanDelete == true).Any()';
        var canMovePClientPerm = '@potentialClientPerm.Where(x => x.CanMove == true).Any()';
        $(document).ready(function () {

            BindPotentialClientsTable();
            //var table = $("#tblPotientialPatient").dataTable({
            //    scrollY: 'calc(100vh - 264px)',
            //    scrollCollapse: true,
            //});
            //$('#tblPotientialPatient tbody').on('click', 'button', function () {
            //    var data = table.api().row($(this).parents('tr')).data();
            //    console.log(data);
            //});
           
        });


    </script>
}