@model RootsOfHealth.Models.UserBO


   <div class="tab-pane fade" id="ChnagePWD" role="tabpanel" aria-labelledby="ChnagePWD-tab">

       <div class="appointment">
           <h2>Change Password</h2>
        <div class="editscrollheight">
        <div class="container-fluid pl-0 pr-0">
            <div class="form-horizontal">
                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Current Password", htmlAttributes: new { @class = "control-label" })
                            @Html.Editor("txtPassword", new { htmlAttributes = new { @class = "form-control", @type = "password" } })<span toggle="#txtPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("New Password", htmlAttributes: new { @class = "control-label" })
                            @Html.Editor("txtPassword1", new { htmlAttributes = new { @class = "form-control", @type = "password" } })

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label" })
                            @Html.Editor("txtPassword2", new { htmlAttributes = new { @class = "form-control", @type = "password" } })

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="button" value="Update" onclick="changePassword()" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
            </div>
    </div>
       </div>
 
