@model IEnumerable<RootsOfHealth.Models.RolePermissionsBO>



@if (Model != null)
{
    var count = 0;
    <div class="patientRow housing_button">
        <h5>Client Forms <i id="patient_tgl" class="fas fa-chevron-down"></i></h5>
        <div class="patientToggle">
            <div class="row">
                @foreach (var item in Model.Where(x => x.ClientFormId > 0))
                {



                    <div class="col-lg-3 col-md-3 col-sm-3 col02">
                        <h6>@item.FormName</h6>
                        @Html.Hidden("hdnPermissionId" + count, item.PermissionID)
                        @Html.Hidden("hdnClientFormId" + count, item.ClientFormId, new { @class = "hdnClientId" })
                        <select id="option_@count" multiple>
                            <option value="Edit" @(item.CanUpdate == true ? "selected='selected'" : "")>Edit</option>
                            <option value="View" @(item.CanList == true ? "selected='selected'" : "")>View</option>

                        </select>
                    </div>

                    count++;
                }
            </div>
        </div>
        <h5>Others <i id="other_tgl" class="fas fa-chevron-down"></i></h5>

        <div class="otherToggle">
            <div class="row">
                @foreach (var otheritem in Model.Where(x => x.ModuleID > 0))
                {
                    var moduleName = @otheritem.ModuleName.ToLower();

                    <div class="col-lg-3 col-md-3 col-sm-3 col02">
                        <h6>@otheritem.ModuleName</h6>
                        @Html.Hidden("hdnPermissionId" + count, otheritem.PermissionID)
                        @Html.Hidden("hdnModuleId" + count, otheritem.ModuleID, new { @class = "hdnModuleId" })
                    <select id="option_@count" multiple>
                        @if (moduleName != "form scheduling" &&
                            moduleName != "system setting" && moduleName != "client request intake" &&
                            moduleName != "form sharing export" && moduleName != "authorization")
                        {
                            <option value="Add" @(otheritem.CanCreate == true ? "selected='selected'" : "")> Add </option>
                        }
                        @if (moduleName != "authorization")
                        {
                            <option value="Edit" @(otheritem.CanUpdate == true ? "selected='selected'" : "")> Edit </option>
                        }
                        @if (moduleName != "form scheduling" &&
                            moduleName != "system setting" && moduleName != "client request intake" &&
                            moduleName != "form sharing export" && moduleName != "authorization")
                        {
                            <option value="Delete" @(otheritem.CanDelete == true ? "selected='selected'" : "")> Delete </option>
                        }

                        <option value="View" @(otheritem.CanList == true ? "selected='selected'" : "")> View </option>
                        @if (moduleName == "potential client")
                        {
                            <option value="Move" @(otheritem.CanMove == true ? "selected='selected'" : "")> Move </option>
                        }

                    </select>
                    </div>

                    count++;
                }
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $("#patient_tgl").click(function () {

            if ($("#patient_tgl").hasClass('fas fa-chevron-down')) {
                $("#patient_tgl").removeClass('fas fa-chevron-down').addClass('fas fa-chevron-up');

            } else {
                $("#patient_tgl").removeClass('fas fa-chevron-up').addClass('fas fa-chevron-down');


            }
            $(".patientToggle").slideToggle("slow");
        });

        $("#other_tgl").click(function () {

            if ($("#other_tgl").hasClass('fas fa-chevron-down')) {
                $("#other_tgl").removeClass('fas fa-chevron-down').addClass('fas fa-chevron-up');

            } else {
                $("#other_tgl").removeClass('fas fa-chevron-up').addClass('fas fa-chevron-down');


            }
            $(".otherToggle").slideToggle("slow");
        });

    });
</script>
